<div id="wrapper">
<!-- Footer -->
  <footer id="footer">
    <section>
      <h2>DIoTA</h2>
      <p>Smart City is the most experienced and flexible provider of infrastructure, technology,
        and telecommunications facilities for convention centers, companies, and entertainment venues,
        and towards achieving a secure smart city, we aspires to contribute to help meet this challenge,
        by introducing a system that can detect malicious attacks using deep and machine learning techniques.</p>
    </section>
    <section>
      <h2>Find Us</h2>
      <dl class="alt">
        <dt>Address</dt>
        <dd>Medina, Taibah University</dd>
        <dt>Email</dt>
        <dd><a href="#">Diota.sau@gmail.com</a></dd>
      </dl>
    </section>
    <p class="copyright">&copy; DIoTA, 2021.</p>
  </footer>
</div>
