<!-- Header -->
<nav id="nav" class="alt">
	<ul>
		<li style= "margin-right:30%"><%= image_tag "LOGO-REP1.png", class: "logo" %><li>
		<li style= "margin-left:15%"><a href="<%= root_path %>" >Home</a></li>
		<%= render 'shared/user_dropdown' %>
	</ul>
</nav>
