<!-- Header -->
    <nav id="nav" class="alt">
        <ul>
			<li><img class="logo"  src="https://static.wixstatic.com/media/2a0e50_029092c5777047c490e5d739b0f01e67~mv2.png" alt="logo" /><li>
	    	<li><a href="<%= root_path %>" >Home</a></li>
			<li><a href="#intro" ><%= current_user.first_name %></a></li>
        </ul>
	</nav>
