
<!-- Wrapper -->
	<div id="wrapper">
	<!-- Header -->
		<%= render 'shared/header' %>
		<!-- Main -->
			<div id="main">
			<!-- Content -->
				<section id="content" class="main">
					<header class="major">
						<h2>Attacks Dashboard</h2>
					</header>

				</section>
			</div>
	</div>
