<section class="hero is-info is-large" style="background-image: url('https://static.wixstatic.com/media/2a0e50_00b4a3deca5d455ba97a392d734aff08~mv2.jpg');">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand" style="position:fixed;">
          <a class="navbar-item">
            <img src="https://static.wixstatic.com/media/2a0e50_029092c5777047c490e5d739b0f01e67~mv2.png" alt="Logo">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              SERVICES
            </a>
            <a class="navbar-item">
              ABOUT
            </a>
            <a class="navbar-item">
              CONTACT
            </a>
            <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Login</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body" >
    <div class="container has-text-centered" >
      <h1 class="title is-1">
        DIoTA
      </h1>
      <h4 class="subtitle is-3">
        For smart city
      </h4>
    </div>
  </div>
</section>

<div>
  <h1 class="title is-1  has-text-centered">OUR SERVICES </h1>
  <div class="columns ">
    <div class="column is-half">
      <figure class="image is-128x128">
        <img src="https://static.wixstatic.com/media/2a0e50_912c2e54177e423787829235e0be01be~mv2.png" alt="scan-icon">
      </figure>
      <p>Scan of smart city IoT data
      flow to detect IoT attacks</p>
      <button class="button is-medium">Medium</button>
    </div>
    <div class="column is-half">
      <figure class="image is-128x128">
        <img src="https://static.wixstatic.com/media/2a0e50_69b1e0c1a2a44fb0849bfb62ee013551~mv2.png" alt="get-report-icon">
      </figure>
      <p>Get report about smart city
      status on specific period of time</p>
      <button class="button is-medium">Medium</button>
    </div>
  </div>
</div>

<div>
  <h1 class="title is-1  has-text-centered">OUR STORY</h1>
  <div data-aos="fade-left">
    <p>Detecting attacks is a basic requirement in our evolving world. It is an essential task
    for smart cities and the Internet of things. This is because smart cities use Internet of
      Things (IoT) devices such as connected sensors, light processors, and network cards that
      are able to manage them through web services and  &#47; or
      other types of interfaces. Data from smart cities is being used to improve infrastructure and services.
      This prompted us to develop a system that detects harmful IoT attacks on smart cities using deep learning techniques.
      And discover the attacks that plague smart cities.
    </p>
  </div>
</div>
